body {
    font-size: 16px;
}

.topBar {
    height: 70px;
    width: 100%;
    background-color: #547E8C;
}

.mainFrame {
    width: 100%;
    position: absolute;
    display: flex;
    top: 70px;
    bottom: 0;
}

.leftArea {
    width: 260px;
    height: 100%;
    background-color: #B0C4CB;
    flex: none;
    position: relative;
    color: rgb(54, 78, 85);
}

.middleArea {
    width: 260px;
    height: 100%;
    background-color: #DBE6E8;
    flex: none;
    position: relative;
}

.rightArea {
    height: 100%;
    background-color: #F4F8F7;
    position: relative;
    flex: 1;
}

.addItem {
    position: absolute;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    bottom: 0;
    background-color: #DBE6E8;
    cursor: pointer;
    color: rgb(75, 107, 117);
}

.addAssign {
    background-color: rgb(189, 210, 216);
    color: rgb(74, 107, 117);
}

.rightTitleBar {
    height: 50px;
    background-color: #D1DFE2;
    font-size: 24px;
    line-height: 50px;
    padding-left: 15px;
    font-weight: bold;
    display: flex;
}

.rightTimeBar {
    height: 40px;
    background-color: #E1EBEC;
    line-height: 40px;
    padding-left: 15px;
    position: relative;
}

#content {
    padding: 12px;
    line-height: 130%;
    width: 100%;
    top: 90px;
    bottom: 0;
    position: absolute;
    display: flex;
    word-break: break-all;
}

.leftItem {
    padding: 12px 0;
}

.glyphicon {
    cursor: pointer;
}

.mainCat {
    padding: 5px 15px;
}

.subCat {
    padding: 5px 15px 5px 35px;
    cursor: pointer;
}

.trashIcon {
    float: right;
    top: 3px;
    /* display: none; */
}

.mainCat:hover,
.subCat:hover {
    background-color: #ECF2F2;
}

.statusBtn {
    position: absolute;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    top: 0;
    background-color: rgb(189, 210, 216);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter {
    height: 30px;
    padding: 0 8px;
    margin: 0 3px;
    font-size: 14px;
    cursor: pointer;
    line-height: 28px;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 1px;
}

.filter:hover {
    background-color: #ECF2F2;
}

.filterBackground {
    background-color: #ECF2F2;
}

.leftTop {
    padding: 6px 15px;
}

#allAssignments {
    cursor: pointer;
}

.popWindow {
    position: absolute;
    width: 330px;
    height: 180px;
    background-color: #B0C4CB;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -165px;
    display: none;
    box-shadow: 10px 10px 5px #888888;
}

.popWindow div {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

#popTitle {
    height: 45px;
    font-size: 20px;
}

.hide {
    display: none;
}

.chosen {
    background-color: #fff;
}

.titleIcon {
    width: 120px;
    height: 50px;
    padding: 5px 0;
    flex: none;
}

.titleIcon .glyphicon {
    font-size: 30px;
    margin-right: 20px;
}

.inputTitle {
    height: 38px;
    width: 60px;
    padding: 0 5px;
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    background-color: transparent;
    border: none;
    outline-style: none;
}

.inputContent {
    height: 100%;
    font-size: 20px;
    flex: auto;
    background-color: transparent;
    border: none;
    outline-style: none;
}

#assignTitle {
    margin-right: 30px;
    display: relative;
    flex: 1;
}

#deadline {
    background-color: transparent;
    border: none;
    height: 35px;
}

.middleItem {
    margin-top: 40px;
}

.dateBlock {
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 20px;
    color: #ECF2F2;
    background-color: rgb(157, 180, 189);
}

.titleGroup {
    height: 34px;
    line-height: 34px;
    padding: 0 10px 0 20px;
    color: rgb(54, 78, 85);
    background-color: rgb(189, 210, 216);
    cursor: pointer;
}

.float_right {
    float: right;
}
