body {
    font-size: 16px;
}

.topBar {
    height: 70px;
    width: 100%;
    background-color: rgb(189, 166, 166);
    border-bottom: 1px solid grey;
}

.mainFrame {
    width: 100%;
    position: absolute;
    display: flex;
    top: 70px;
    bottom: 0;
}

.leftArea {
    width: 260px;
    height: 100%;
    background-color: rgb(236, 223, 223);
    flex: none;
    position: relative;
    border-right: 1px solid grey;

}

.middleArea {
    width: 260px;
    height: 100%;
    background-color: rgb(231, 185, 185);
    flex: none;
    position: relative;
    border-right: 1px solid grey;

}

.rightArea {
    height: 100%;
    background-color: rgb(235, 225, 140);
    position: relative;
    flex: 1;
}

.addItem {
    position: absolute;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid grey;
    background-color: rgb(207, 197, 197);
    cursor: pointer;
}

.rightTitleBar {
    height: 50px;
    background-color: rgb(207, 197, 197);
    border-bottom: 1px solid grey;
    font-size: 24px;
    line-height: 50px;
    padding-left: 15px;
    font-weight: bold;
}

.rightTimeBar {
    height: 40px;
    background-color: rgb(207, 197, 197);
    /* border-bottom: 1px solid grey; */
    line-height: 40px;
    padding-left: 15px;
}

.content {
    padding: 15px;
    line-height: 130%;
    border-top: 1px solid grey;
}

.leftItem {
    padding: 12px 0;
}

/* .category {
    padding: 8px 15px;
    cursor: pointer;
} */

.mainCat {
    padding: 5px 15px;
    cursor: pointer;
}

.subCat {
    padding: 5px 15px 5px 35px;
    cursor: pointer;
}

.trashIcon {
    float: right;
    top: 3px;
    display: none;
}

.mainCat:hover,
.subCat:hover {
    background-color: #fff;
}

.statusBtn {
    position: absolute;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    top: 0;
    background-color: rgb(207, 197, 197);
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fliter {
    height: 30px;
    padding: 0 8px;
    margin: 0 3px;
    font-size: 14px;
    cursor: pointer;
    line-height: 28px;
    border: 1px solid transparent;

}

.fliter:hover {
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgb(236, 228, 228);
}

.leftTop {
    padding: 6px 15px;
}

.popWindow {
    position: absolute;
    width: 330px;
    height: 180px;
    background-color: rgb(193, 237, 240);
    border: 1px solid brown;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -165px;
    display: none;
}

.popWindow div {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

#popTitle {
    height: 45px;
    font-size: 20px;
}